@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
    --dark: #001233;
    --white: #ffff;
    --yellow: #ffb703;
    --green: rgb(4, 68, 2);
    --greenSuccess: #198754;
}

/* Estilos generales */
body {
    font-family: Monserrat;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.title h1{
    background-color: var(--greenSuccess);   
    margin-bottom: 3%;
}
/* Contenedor principal */
.container {
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
}

/* Header */

.header {
    font-size: 40px;
    font-weight: bold;
    font-family: Monserrat;
    color:var(--white);
    margin-bottom: 3%;
    text-align: center;
}

/* Barra de búsqueda */
.control {
    display: flex;
    gap: 10px;
}

.control form {
    display: flex;
    gap: 10px; /* Espacio entre el input y el botón */
    align-items: center;
}
.control input {
    flex-grow: 1; /* Hace que el input ocupe todo el espacio disponible */
    min-width: 250px;
    font-family: Monserrat;
    font-size: 20px;
}

/* Tabla */
.table {
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.table  {
    background-color: var(--green);    
    text-align: center;
}

.th{
    background-color: var(--greenSuccess)!important;
    color: white !important;
    text-align: center;    
}

.table td {
    text-align: center;
    vertical-align: middle;
}

tfoot td {
    font-family: Monserrat;
    font-weight: bold;
    font-size: 20px;
    color: var(--white) !important;
    background-color: var(--greenSuccess) !important;
}

.empty{
    background-color: var(--white) !important;
}

/* Modales */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #28a745;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body {
    padding: 15px;
}

.modal-body div {
    padding: 10px;
    border-radius: 5px;
    background: #f8f9fa;
    transition: 0.3s ease-in-out;
}

.modal-body div:hover {
    background: #e9ecef;
}

/* Botón Pagar */
#payButton {
    display: block;
    width: 100%;    
    font-family: Monserrat; 
    font-size: 30px;   
}

/* Notificación */
.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
