@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
    --dark: #001233;
    --white: #ffff;
    --yelow: #ffb703;
    --green: rgb(4, 68, 2);
}

header {
    background-color: var(--green);
    padding: 10px 0;
    z-index: 100;
}

.navbar-title {
    color: var(--white);
    font-weight: bold;
    transition: 3s ease-in-out all;
    text-align: center;
    font-size: 2rem;

    /* Tamaño base */
    @media (min-width: 768px) {
        font-size: 2.5rem;
        /* Ajusta el tamaño para pantallas más grandes */
    }
}

.navbar {
    z-index: 100;
    /* O un valor menor según sea necesario */
}

/* Login */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

.form-control {
    height: 100px;
    border: 1px solid var(--dark);
    width: 100%;
    /* Hace que el ancho sea del 100% para adaptarse al contenedor */
    font-size: 1.5rem;
    /* Tamaño base de la fuente */
}

.card-header {
    color: var(--white);
    transition: color 3s ease-in-out;
    height: 8vh;
    margin-left: 2%;
    text-align: center;
}

.card-header h3 {
    font-weight: bold;
    font-size: 45px;
}

#title {
    color: var(--white);
}

#ingreso {
    position: relative;
    max-width: 100%;
    /* Ancho máximo para dispositivos pequeños */
    background-color: var(--green);
    color: var(--white);
    margin-top: 20px;
    margin-left: 10%;
}

button {

    font-size: 1.5rem;
    /* Tamaño base de la fuente del botón */
    height: 60px;
    /* Altura del botón */
}